
@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- banner-1 ---->
<div class="banner-1">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Misión - Visión - Valores</h1>
    </div>
</div>
<!--- /banner-1 ---->
<!--- about ---->
<div class="about">
    <div class="container">
        <div class="about-top wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
            <h2>Valores</h2>
            <p>Nuestros Valores apoyan nuestra Misión y sustentan tanto nuestros Principios Empresariales como nuestros Principios de Conducta.
               Nuestros Valores son las cualidades que nos distinguen y nos orientan. Es necesario que nuestra labor cotidiana los tenga presentes siempre, y los lleve a la práctica.</p>
        </div>
        <div class="about-mid">
            <div class="col-md-6 abt-lft wow fadeInLeft animated" data-wow-delay=".5s">
                <h3>Misión</h3>
                <p>Superar las expectativas de nuestros clientes, brindándoles la mejor experiencia de viaje y brindarles el mejor servicio, estamos comprometidos a escuchar y responder a las necesidades de nuestros clientes para honrar su valor individual.</p>
            </div>
            <div class="col-md-6 abt-lft wow fadeInRight animated" data-wow-delay=".5s">
                <h3>Visión</h3>
                <p>Ser la Empresa de Transporte más representativa de Latino-América, satisfaciendo a través de nuestros servicios las exigentes necesidades funcionales de nuestros clientes.</p>
                <p>Además de ser una empresa detallista líder e innovadora en los mercados donde operemos, diferenciándonos por ofrecer las últimas tendencias, un servicio extraordinario y siempre fieles a nuestros valores.</p>
            </div>
            <div class="clearfix"></div>
        </div>
            <div class="clearfix"></div>
        </div>
</div>

<!-- /about -->

