
@{
    ViewBag.Title = "AntesDeViajar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-1 ">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Transportes YA ME VOY!</h1>
    </div>
</div>
<!--- /banner-1 ---->
<!--- faq ---->
<div class="faq">
    <div class="container">
        <h2 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">ANTES DE VIAJAR</h2>
        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Como disfrutar de un largo viaje en auto-bus</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Un largo viaje en autobús puede tornarse aburrido rápidamente. Ya sea por la anciana dormida sentada a tu lado, o por el niño de 3 años haciendo un berrinche en el asiento trasero o por la chica de 15 años enfrente de ti que no para de hablar por teléfono, es posible que te espere un largo viaje. ¡Pero eso no significa que debas perder la esperanza! Esta es la manera en la que puedes disfrutar de un largo viaje en autobús.</p>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;"><span>1.</span> Lleva cosas divertidas que puedas hacer.</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Asegúrate de que lleves lo suficiente para entretenerte durante todo el tiempo que estés en el autobús. Algunas cosas que puedes llevar son:</p>
        <ul class="animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
            <li>- Reproductor de música, fuente de poder y audífonos.</li>
            <li>- Libro(s).</li>
            <li>- Netbook, tablet o computadora portátil.</li>
            <li>- Juegos para jugar con las manos.</li>
        </ul>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;"><span>2.</span> Relájate.</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Acomódate y tómalo con calma. Usa las cosas que llevas contigo. Mira el paisaje por la ventana o habla con otras personas.</p>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;"><span>3.</span> Ten paciencia.</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Solo debes tener una mentalidad de calma sobre el viaje en autobús. Esto suena más difícil de lo que es, pero cuando lo dominas, es una gran ayuda en muchas áreas de la vida.</p>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;"><span>4.</span> Evitada contestar mal o discutir con compañeros de autobús.</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Esto sólo hará que el viaje sea dramático e incómodo para todos. Recuerda que todos están atrapados en un espacio pequeño. Mantén una actitud positiva.</p>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;"><span>5.</span> ¡Siempre sé cortés con tus compañeros de autobús!</h3>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Sé paciente y mantén una actitud positiva. No estarás de tan mal humor si no te portas mal.</p>

        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Consejos</h3>
        <ul class="animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
            <li>- Empaca tus artículos de viaje en una mochila y llevarla en el autobús contigo.</li>
            <li>- No lleves nada demasiado voluminoso, para no molestar a tu compañero de asiento.</li>
            <li>- Piensa en un pasatiempo o algo que sería fácil de hacer en un autobús y que disfrutes para que note aburras con rapidez.</li>
            <li>- Los autobuses turísticos son maravillosos si te gusta entretener a todo el mundo. Tal vez quieras llevar una película que todos puedan disfrutar, tal vez de comedia.</li>
            <li>- No vayas maloliente. No uses perfume pesado ni vayas oliendo mal, y no lleves alimentos malolientes. (Alguna comida rápida, por ejemplo!)</li>
            <li>- Si roncas, trata de comprar esas tiras especiales para la gente que ronca antes de salir. Puede parecer un poco tonto, pero así los otros pasajeros no te odiarán.</li>
            <li>- Asegúrate de llevar todo contigo antes de subir al autobús.</li>
            <li>- Tal vez podrías encontrar a un amigo o alguna persona, al hablar en todo el camino el tiempo se irá rápido.</li>
            <li>- Toma una siesta y luego come un bocadillo y luego escucha música o lee un libro, realmente te ayudará.</li>
        </ul>
       
        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">Advertencias!</h3>
        <ul class="animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
            <li>- ¡No pongas la música/juegos demasiado fuerte! Es muy molesto cuando se escucha la música de otras personas, y el conductor te podría sacar del bus por ser una molestia para los otros pasajeros.</li>
            <li>- Aunque suene divertido, no te subas a todos los asientos ni barras de metal en el autobús, ya que puedes lastimarte o ser expulsado.</li>
            <li>- No hagas nada que pueda distraer al conductor. (Gritar, dar de alaridos, etc.)</li>
            <li>- También debes ser amable con todos. (Ten cuidado con lo que le digas a otras personas).</li>
        </ul>
    </div>
</div>
<!--- /faq ---->
