
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- banner-1 ---->
<div class="banner-1 ">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Transportes YA ME VOY Contácto</h1>
    </div>
</div>
<!--- /banner-1 ---->
<!--- contact ---->
<div class="contact">
    <div class="container">
        <h3 class="animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">Contáctanos</h3>
        <div class="col-md-12 contact-left">
            <div class="con-top animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                <h4>Retalhuleu</h4>
                <li>4ta Calle 9-42</li>
                <li>Zona 1</li>
                <li>Retalhuleu, Guatemala</li>
                <li>Rubén Barrios</li>
                <li>(502) 46332788 </li>
                <li>Horario de Atención : 7AM a 11PM</li>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- /contact -->

