
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- banner ---->
<div class="banner">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> De Retalhuleu lo mejor <br>TRANSPORTES YA ME VOY</h1>
    </div>
</div>

<!--- /banner ---->
<div class="container">
    <div class="rupes">
        <div class="col-md-4 rupes-left wow fadeInDown animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
            <div class="rup-left">
                <i class="fa fa-usd"></i>
            </div>
            <div class="rup-rgt">
                <h3>PRECIOS ECONOMICOS</h3>
                <h4><a href="offers.html">VIAJE SEGURO</a></h4>
                <p>Tome la mejor decisión<br>Viaje con Nosotros</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 track-right wow fadeInLeft animated" data-wow-delay=".5s">
            <a href="track.html"><img src="../../Assets/images/map1.png" class="img-responsive" alt=""></a>
        </div>
        <div class="col-md-5 track-left wow fadeInRight animated" data-wow-delay=".5s">
            <h3>SEGUIR MI BUS</h3>
            <p>App de Transportes YA ME VOY con carácteristicas increibles</p>
            <button type="button" class="btn btn-primary">Próximamente</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- /rupes ---->
<!--- routes ---->
<div class="routes">
    <div class="container">
        <div class="col-md-4 routes-left wow fadeInRight animated" data-wow-delay=".5s">
            <div class="rou-left">
                <i class="fa fa-truck"></i>
            </div>
            <div class="rou-rgt wow fadeInDown animated" data-wow-delay=".5s">
                <p>VIAJES</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 routes-left">
            <div class="rou-left">
                <i class="fa fa-user"></i>
            </div>
            <div class="rou-rgt">
                <p>COMODIDAD</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 routes-left wow fadeInRight animated" data-wow-delay=".5s">
            <div class="rou-left">
                <i class="fa fa-ticket"></i>
            </div>
            <div class="rou-rgt">
                <p>CUPO LIMITADO</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- /routes ---->



