
@{
    ViewBag.Title = "ProgramacionViajes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- banner ---->
<div class="banner-1">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Transportes YA ME VOY!</h1>
    </div>
</div>
<!--- travel ---->
<div class="travel">
    <div class="container">
        <h3>Ciudad Hidalgo y Tapachula</h3>
        <p>Todos los días Miércoles y Viernes Rumbo a Ciudad Hidalgo y Tapachula.</p>
        <div class="tra-top">            
            <ul class="rout">
                <li class="rou">RUTA</li>
                <li class="ser">SERVICIO</li>
                <li class="fir">SALIDA</li>
                <li class="las">REGRESO</li>
                <li class="dat">DIA</li>
                <div class="clearfix"></div>
            </ul>
            <!--- rou-secnd ---->
            <ul class="rou-secnd animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                <li class="rou">
                    <p>Frontera</p>
                    <h6><a href="https://es.wikipedia.org/wiki/Ciudad_Hidalgo_(Chiapas)" target="_blank">Ciudad-Hidalgo</a></h6>
                </li>
                <li class="ser">
                    <p>2 Buses</p>
                </li>
                <li class="fir">
                    <p>05:00 AM</p>
                </li>
                <li class="las">
                    <p>05:00 PM</p>
                </li>
                <li class="dat">
                    <p>Viernes</p>
                </li>
                <div class="clearfix"></div>
            </ul>
            <!--- /rou-secnd ---->
            <!--- rou-secnd ---->
            <ul class="rou-secnd animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1200ms; animation-delay: 500ms; animation-name: fadeInUp;">
                <li class="rou">
                    <p>Frontera</p>
                    <h6><a href="https://es.wikipedia.org/wiki/Tapachula" target="_blank">Tapachula-Chiapas</a></h6>
                </li>
                <li class="ser">
                    <p>2 Buses</p>
                </li>
                <li class="fir">
                    <p>05:00 AM</p>
                </li>
                <li class="las">
                    <p>70:00 PM</p>
                </li>
                <li class="dat">
                    <p>Miércoles</p>
                </li>
                <div class="clearfix"></div>
            </ul>
            <!--- /rou-secnd ---->                    
        </div>
    </div>
</div>
<!--- /travel ---->

