
@{
    ViewBag.Title = "TerminosCondiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--- banner-1 ---->
<div class="banner-1">
    <div class="container">
        <h1 class="wow zoomIn animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;"> Transportes YA ME VOY!</h1>
    </div>
</div>
<!--- /banner-1 ---->
<!--- terms ---->
<div class="terms">
    <div class="container">
        <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s">Términos y Condiciones </h3>
        <h6 class="wow fadeInDown animated animated" data-wow-delay=".5s">Puntos Importantes</h6>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s"><span>1. </span>Cada Persona viaja por cuenta y riesgo propio.</p>        
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s"><span>2. </span>Nuestra empresa no se hace responsable por objetos olvidados en cualquiera de nuestras unidades.</p>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s"><span>3. </span>No hay reembolso si usted llega tarde a la hora de salir hacia cualquier destino.</p>
        <p class="wow fadeInDown animated animated" data-wow-delay=".5s"><span>4. </span>Al momento de firmar el pasajero acepta las cláusulas anteriores.</p>       
           
                <h6 class="wow fadeInDown animated animated" data-wow-delay=".5s">Devolución de su Dinero</h6>
                <p class="wow fadeInDown animated animated" data-wow-delay=".5s">El valor del pasaje se devolverá únicamente si Transportes YA ME VOY cancela el viaje por una fuerte Razón.</p>
                
        </div>
    </div>
</div>
<!--- /terms ---->

